@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.contact-page {
    text-align:left;
    padding: 50px 20px;
    font-family: "Rubik", serif;
    font-size: 1.2vw;
    min-height: 55vh;
  }
  
  .contact-page h1 {
    font-size: 2.5vw;
    margin-bottom: 1rem;
    color: #035a5ae2;
  }
  
  .contact-page p {
    font-size: 1.2vw;
    margin-bottom: 2rem ;
    color: #555;
    font-weight: bold;
    font-size: larger;
  }
  
  #mail-id{
    font-size: 1.7vw;
    font-weight: 800;
    background: linear-gradient(90deg, #1d9999, #53c4c4, #51aaaa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
