@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

footer {
    font-family: "Rubik", serif;
    display: block;
    width: 98%;
    margin: 2vh 0; 
    position: relative;
    top: 2vh;
}
  
.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    font-weight: bold;
    position: relative;
    width: 95%;
    font-size: larger;
    color: #33bcbc;
}

.footer-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 10%;
}

.social-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 10%;
}

.thin-line {
    border: none; 
    border-top: 0.3vh solid #ccc; 
    padding: 0; 
  }

.mail-id, .social-links a{
    color: #33bcbc;
    text-decoration: none;
    transition: transform 0.5s ease, background 0.5s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mail-id:hover, .social-links a:hover{
    color: #33bcbc;
    text-decoration: none;
    background: linear-gradient(90deg, #bdebeb, #79eaea, #33bcbc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.1);
}

.mail-id img{
    width: 2rem;
    height: 2rem;
}

.phone-number{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.phone-number img{
    width: 2rem;
    height: 2rem;
}