@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

header {
    font-family: "Rubik", serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
    width: 70vw;
    transition: all 0.3s ease-in-out;
    right: 8vw;
}

header .logo {
    transition: font-size 1.5s ease, transform 0.5s ease;
    font-size: 2.5rem;
    font-weight: 800;
    background: linear-gradient(90deg, #bdebeb, #79eaea, #33bcbc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    left: 5%;
}

header .logo:hover {
    font-size: xx-large;
    transform: scale(1.1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    position: relative;
    left: 30%;
    flex-wrap: wrap;
    transition: all 0.3s ease-in-out;
}

.navbar ul li {
    margin: 2rem;
}

.navbar ul li a {
    color: #33bcbc;
    text-decoration: none;
    transition: transform 0.3s ease, background 0.5s ease, text-decoration-color 0.3s ease, text-decoration-thickness 0.3s ease;
    display: flex;
    text-decoration-line: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar ul li .active-page {
    color: #33bcbc;
    text-decoration: underline;
    text-decoration-color: #33bcbc;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
    transition: transform 0.3s ease, background 0.5s ease;
    display: flex;
}

.navbar ul li a:hover {
    background: linear-gradient(90deg, #bdebeb, #79eaea, #33bcbc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.1);
}

.menu-icon {
    display: none;
}

@media (max-width: 1024px) {
    header {
        margin: 0;
        width: 90vw;
        position: relative;
        /* bottom: 20vh;     */
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        position: relative;
        left: 5rem;
        top: 2rem;
        z-index: 20;
        margin: 1rem;
    }

    .navbar ul {
        display: none;
        position: absolute;
        top: 8vh;
        left: 0;
        width: 100%;
        background: #f5f5f594;
        z-index: 10;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .navbar ul.active {
        display: flex;
    }

    .navbar ul li {
        margin: 1rem 0;
    }

    header.menu-open {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-icon{
        display: block;
        left: 0;
    }
    .menu-icon svg {
        margin-top: 1rem;
    }
}

@media (max-width: 768px) {
    header {
        /* bottom: 15vh;     */
        align-items: flex-start;
    }

    header .logo {
        /* font-size: 2.8rem; */
        left: 10%;
    }

    .navbar ul li a {
        font-size: 2rem;
    }
}
