@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.projects {
    padding: 40px;
    text-align: center;
    font-family: "Rubik", serif;
}

.projects h1 {
    font-size: 2vw;
    margin-bottom: 30px;
    color: #333;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
